.tb1
    background #2d3748
    background: rgba(@background, 0.6);
.tb2
    background #6a85b6
    background: rgba(@background, 0.6);
.tb3
    background antiquewhite
    background: rgba(@background, 0.6);
.tb4
    background aquamarine
    background: rgba(@background, 0.6);
.highlight
    background rgba(red, 0.8) !important
